.container{
     display: flex;
     width: 70%     ;
     margin: auto;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 50px;
}


form {
     background-color: #8C8C8C;
     color: #fff;
     padding-top: 10px;
     height: 550px;
 }

 table {
     margin-left: 20px;
     margin-right: 20px;
     border: 1px solid black;
 }

 tbody,
 td {
     border: 1px solid white;
 }

 h1 {
     color: #fff;
     background-color: #800000;
     font-weight: 800;
     margin-left: 40px;
     margin-right: 40px;
     text-align: center;
     border-radius: 10px;
 }

 .text {

     background-color: #8C8C8C;
 }

 .pgf {
     color: black;
     font-weight: 600;
 }

 .pgf1 {
     color: black;
     font-weight: 600;
 }

 .pgf2 {
     color: black;
     font-weight: 600;
 }

 input[type=text] {
     background: transparent;
     color: #fff;
     border: none;
 }

 input[type="text"]::placeholder {
     color: #ffffffb3;
 }

 .btn {
     margin-top: 40px;
     margin-left: 10px;
     background-color: #8C8C8C;
     color: #800000;
     margin-left: 20px;
     font-size: 20px;
     font-weight: 600;
     border-radius: 5px;
     cursor: pointer;
 }
.btn:hover{
     color: #fff;
     background-color: #800000;

}
 .link {
     margin-left: 10px;
 }
 a{
     text-decoration: none;
     font-size: 20px;
     color: blue;

 }
